.example-spacer {
  flex: 1 1 auto;
}

/*contenido general*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos */
  padding: 0 16px;
  /* Espacio interno*/
  position: relative;
  /*posicionamiento de los elementos internos */
  height: 76px;

}

/* Contenedor para centrar el botón */
.navbar-center {
  position: absolute;
  /* Posiciona el contenedor de forma absoluta */
  left: 50%;
  /* Posiciona el contenedor en el centro */
  transform: translateX(-50%);
  /* Ajusta el contenedor al centro */

}

.productosgrande {
  font-family: "Kosugi", sans-serif;
}

/*logo imagen*/
.logo img {
  height: 40px;
  width: auto;
}

/*Google fonts*/
.achedos {
  font-size: 38px;
  color: white;
  font-family: "New Amsterdam", sans-serif;
  margin-left: 6px;
}

/* CORRESPONDEN A PANTALLAS MÁS PEQUEÑAS -> ej.: celulares */
@media (min-width: 300px) and (max-width: 700px) {
  mat-toolbar {
    background-color: #9ccfec;
  }
  #menuProducto {
    display: none;
  }
  #menuSecciones2{
    display: none;
  }
}


/* ENCAPSULA ESTILOS PARA PANTALLAS MÁS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px) {
  mat-toolbar {
    background-color: #9ccfec;
  }

  #menuSecciones {
    display: none;
  }
}

/*Lista izzq y derecha en las categorias*/

/* Contenedor del menú */
.menu-container {
  display: flex;
  /* Usa flexbox para el diseño */
  justify-content: space-between;
  /* Distribuye el espacio entre las listas */
  padding: 8px;
  /* Añade espacio interior alrededor de la lista */
  width: 50%;
}

/* Estilos para cada lista de productos */
.menu-list {
  display: flex;
  flex-direction: column;
  /* Coloca los productos en una columna */

}

.menu-list button:hover {
  margin-bottom: 10px;
  /* Espaciado entre los botones */
  cursor: pointer;
  background-color: rgba(190, 213, 240, 0.712);
  /* Fondo azul al pasar el cursor */
  border-radius: 5px;

}