.example-spacer {
    flex: 1 1 auto;
  }
  
  /*este mediaqueri va a corresponder a pantallas mas pequeñas como celulares, ipads*/
  @media (min-width: 300px) and (max-width: 700px) {
    mat-toolbar{
        background-color:#0d43b8;
    }

    #menuInicio{
        display: none;
        background-color: rgba(245, 255, 250, 0);
    }

    #menuProducto{
        display: none;
    }
}

/* dispositivos grandes como pc */
@media (min-width: 700px) {
    mat-toolbar{
        background-color:#73bbff;
        height: 80px;
    }

    #menuSecciones{
        display: none;
    }
}

.logo1{
    width: 600px;

}
img{
    width: 100px;
   
    display: flex;
}

button{
    background-color: black;
    border-radius: 10%;
    color: white;
}