<mat-toolbar class="navbar">
  <!-- Menú desplegable para cuando la pantalla sea menor a 700px, mas pequeña-->
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #seccion="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>
    <button mat-menu-item  routerLink="/contact">Contacto</button>
    <button mat-menu-item routerLink="/guiatalles">Guía de Talles</button>
    <button mat-menu-item routerLink="/sobrenosotros">Sobre Nosotros</button>
    <button id="menuAdmin" mat-menu-item routerLink="/admin">Admin</button>
  </mat-menu>


  <!--Logo pantalla grande-->

  <span class="logo" routerLink="/inicio"> <img src="../../../../../assets/logosinletra.png" alt="logo"></span>
  <span class="espacio"></span>

  <h2 class="achedos" id="menuInicio" routerLink="/inicio">SNOWPEAK</h2>

  <!-- Se van a mostrar cuando la pantalla sea mayor a 700px -->
  <!-- Menu desplegable pantalla grande en el centro -> PRODUCTOS -->
  <div class="navbar-center">
    <button id="menuProducto" mat-button [matMenuTriggerFor]="producto" class="productosgrande">PRODUCTOS</button>

  </div>

  <!--Lista izquierda-->
  <mat-menu #producto="matMenu">
    <div class="menu-container">
      <div class="menu-list left-list">
        <button mat-menu-item routerLink="/producto">Todos los productos</button>
        <button mat-menu-item routerLink="/antiparras">Antiparras</button>
        <button mat-menu-item routerLink="/camperas">Camperas de nieve</button>
        <button mat-menu-item routerLink="/gorros">Gorros</button>
      </div>

      <!--lista derecha-->
      <div class="menu-list right-list">
        <button mat-menu-item routerLink="/guantes">Guantes</button>
        <button mat-menu-item routerLink="/pantalones">Pantalones de nieve</button>
        <button mat-menu-item routerLink="/botas">Botas</button>
      </div>
    </div>
  </mat-menu>
  

  <!--Buscador
  <span class="example-spacer"></span>

  <app-buscador></app-buscador>
<div class="search-input-wrapper" id="menuBarra">
  <input type="search" class="search-input" placeholder="Buscar" aria-label="Buscar">

  <span class="search-icon"><i class="fas fa-search"></i></span>
  
</div>
<span></span>-->
<span class="example-spacer"></span>
<!--Buscador que no se si poner o no
<app-buscador class="pantallagrande"></app-buscador>-->


  <!-- Carrito -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <!-- registro e inicio de sesion -->
   
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
    <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/iniciosesion">Iniciar Sesión</button>
    <button mat-menu-item (click)="cerrarsesion()" *ngIf="deslogueado">Cerrar Sesión</button>
  </mat-menu>

  <!--Menu para el resto de las secciones-->
  <button id="menuSecciones2" mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="/contacto">Contacto</button>
    <button mat-menu-item routerLink="/guiadetalles">Guía de Talles</button>
    <button mat-menu-item routerLink="/sobrenosotros">Sobre Nosotros</button>
    <button id="menuAdmin" mat-menu-item routerLink="/admin">Admin</button>
  </mat-menu>

  <!--Icono de info(about us)
  <button mat-icon-button class="example-icon" routerLink="/sobrenosotros"><mat-icon>info</mat-icon></button>-->


  <!--Label Para Modo Oscuro
  <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarFondo()">-->
</mat-toolbar>