
.example-spacer {
    flex: 1 1 auto;
  }
  
  /*este mediaqueri va a corresponder a pantallas mas pequeñas como celulares, ipads*/
  @media (min-width: 300px) and (max-width: 699px) {
    mat-toolbar{
        background-color:#1b40a7;
    }

    #menuInicio{
        display: none;
        background-color: rgba(117, 226, 172, 0);
    }

    #menuProducto{
        display: none;
    }
    #menuContacto{
        display: none;
        
    }}

/* dispositivos grandes como pc */

@media (min-width: 700px) {
    mat-toolbar{
        background-color:#a0d4ff;
        height: 80px;
    }

    #menuSecciones{
        display: none;
    }
}

/*texto del logo*/
.logo1{
    width: 70px;
   

}
/*botones de innicio y productos*/
.divh1{ 
    color: white;
}

/*imagen de logo*/
img{
    width: 70px;
   
    display: flex;
}

.iconos{
    text-align: right;
}

.uno{
    height: 80px;
}
.mat {
    width: 100%;
}
.navbar{
    background-color:#a0d4ff;
}