.footer {
    background-color: #547392;
  }
  
  .footer h5 {
    margin-bottom: 1rem;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #111111;
    cursor: pointer;
  }
  
  .footer i {
    margin-right: 8px;
  }
  
  h3{
    color: white;
  }

  li{
    color: #547392;
  }