<!-- Footer -->
  <footer class="footer py-4">
    <div class="container">
      <div class="row">
        <!-- Sección 1: Información de contacto -->
        <div class="col-md-4 text-center">
          <h2>Contacto</h2>
          <ul class="list-unstyled">
            <li><!-- Enlace al email -->
              <a href="https://wa.me/qr/RFBGCBY322SRI1" class="text-white">
                <i class="fas fa-envelope"></i> Email
              </a>
            </li>
            <li>
        <!-- Enlace a la ubicación en Google Maps con dirección -->
              <a href="https://maps.app.goo.gl/Z9C8mV2YqLQ7e8ic8" class="text-white">
                <i class="fas fa-map-marker-alt"></i> Ubicación
              </a>
            </li>
            <li><!-- Enlace al número de WhatsApp -->
              <a href="https://wa.me/qr/RFBGCBY322SRI1" class="text-white">
                <i class="fab fa-whatsapp"></i> WhatsApp
              </a>
            </li>
          </ul>
        </div>

        <!-- Sección 2: Navegación -->
        <div class="col-md-4 text-center">
          <h2>Navegación</h2>
          <ul class="listunstyled">
            <li><a routerLink="/inicio" class="text-white">Inicio</a></li>
            <li><a  routerLink="/inicio"  class="text-white">Sobre Nosotros</a></li>
            <li><a routerLink="/inicio"  class="text-white">Contacto</a></li>
          </ul>
        </div>

        <!-- Sección 3: Redes Sociales -->
        <div class="col-md-4 text-center">
          <h2>Redes Sociales</h2>
          <ul class="list-unstyled">
            <li><a href="https://facebook.com" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://instagram.com" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://twitter.com" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

