<p>footer works!</p>
<div class="container-fluid footer" >
    <div class="row">
        <div class="col">
            <h3 class="titulos">¡Contactanos!</h3>

            <p class="texto">Paraguay 1050, R8324 Cipolletti, <br>
                Río Negro</p>

            <p class="texto">Whatsapp: +54 299 234-5678</p>

            <p class="texto">ejemploemail@gmail.com</p>
        </div>
        <div class="col">
            <h3 class="titulos">Ayuda</h3>

            <p><a class="texto" href="#">FAQ</a></p>

            <p><a class="texto" href="#">Boton de arrepentimiento</a></p>

            <p><a class="texto" href="#">Terminos y condiciones</a></p>
        </div>
        <div class="col">
            <h3 class="titulos">Nuestras redes</h3>

            <p><a href="#"><img class="logos" src="./assets/logoig3.png" alt="logoinstagram"></a></p>

            <p><a href="#"><img class="logos" src="./assets/logofacebook2.png" alt="logofacebook"></a></p>

            <p><a href="#"><img class="logos" src="./assets/logoyoutube2.png" alt=""></a></p>

            <p><a href="#"><img class="logos" src="./assets/logotiktok2.png" alt=""></a></p>

        </div>
        <div class="col">
            <h1>logos y certificaciones</h1>
        </div>
    </div>
</div> 
