.footer{
    background-color:#a0d4ff;
    padding-top: 20px;
    margin-top: 30px;
}
.titulos{
        color: #ffffff;
        font-size: 20px;
    align-items: center;
        justify-content: center;
        display: flex;
}
.texto{
    color: white;
    font-size: 15px;
}
.logos{
    height: 30px;
    width: auto;
}