<!-- Footer -->
  <footer class="footer py-4">
    <div class="container">
      <div class="row">
        <!-- Sección 1: Información de contacto -->
        <div class="col-md-4 text-center">
          <h2>Contacto</h2>
          <ul class="list-unstyled">
            <li><!-- Enlace al email -->
              <a href="https://wa.me/qr/RFBGCBY322SRI1" class="text-white">
                <i class="fas fa-envelope"></i> Email
              </a>
            </li>
            <li>
        <!-- Enlace a la ubicación en Google Maps con dirección -->
              <a href="https://maps.app.goo.gl/Z9C8mV2YqLQ7e8ic8" class="text-white">
                <i class="fas fa-map-marker-alt"></i> Ubicación
              </a>
            </li>
            <li><!-- Enlace al número de WhatsApp -->
              <a href="https://wa.me/qr/RFBGCBY322SRI1" class="text-white">
                <i class="fab fa-whatsapp"></i> WhatsApp
              </a>
            </li>

          </ul>
        </div>

        <!-- Sección 2: Navegación -->
        <div class="col-md-4 text-center">
          <h2>Navegación</h2>
          <ul class="listunstyled">
            <li><a routerLink="/inicio" class="text-white"> <i class="fas fa-home"></i>Inicio</a></li>
            <li><a routerLink="/sobrenosotros" class="text-white"><i class="fas fa-users"></i>Sobre Nosotros</a></li>
            <li><a routerLink="/contacto"  class="text-white"><i class="fas fa-phone"></i> Contacto</a></li>
          </ul>
        </div>

        <!-- Sección 3: Redes Sociales -->
        <div class="col-md-4 text-center">
          <h2>Redes Sociales</h2>
          <ul class="list-unstyled">
            <li><a href="https://facebook.com" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://instagram.com" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://x.com" class="text-white"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0 0 24 24">
                <path d="M 2.3671875 3 L 9.4628906 13.140625 L 2.7402344 21 L 5.3808594 21 L 10.644531 14.830078 L 14.960938 21 L 21.871094 21 L 14.449219 10.375 L 20.740234 3 L 18.140625 3 L 13.271484 8.6875 L 9.2988281 3 L 2.3671875 3 z M 6.2070312 5 L 8.2558594 5 L 18.033203 19 L 16.001953 19 L 6.2070312 5 z"></path>
                </svg>Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

