
<app-carrusel></app-carrusel>
<br>
<!--buscador que Se va a mostrar en pantallas chicas-->

<!--Categorias de incio-->
<app-categoriashome></app-categoriashome>
<br>
<br>
<br>
<!--cards de productos destacados-->
<app-card></app-card>

<div class="booton">
    <button type="button" class="btn btn-primary btn btn-secondary boton" data-bs-toggle="modal"
        data-bs-target="#exampleModall">
        VER TODOS LOS PRODUCTOS
    </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabell">¡ATENCIÓN!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <div class="modal-body">
                    ¡Para poder ver todos los productos debe iniciar sesión o registrarse!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary boton2" data-bs-dismiss="modal"
                        routerLink="/iniciosesion">Iniciar sesión</button>
                    <button type="button" class="btn btn-secondary boton2" routerLink="/registro">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <br>