.boton{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6199b0;
  
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
.booton{
    justify-content: center;
    align-items: center;
display: flex;
}

.boton2{
    background-color: #38718b; 
}

/* CORRESPONDEN A PANTALLAS MÁS PEQUEÑAS */
@media (min-width: 700px) {
  
    app-buscador {
      display: none; 
    }
  }