<div class="container">
    <div class="row">
        <h1>REGISTRATE</h1>
        
        <i class="material-icons" style="font-size: 200px;">person</i>

<!--nombre de usuario-->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese nombre de usuario</mat-label>
            <!--ngmodel=> directiva utilizada para formularios-->
            <input [(ngModel)]="usuarios.nombre" matInput placeholder="Ej: Pepe"required>
        </mat-form-field>
        
        <!--Apellido-->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su apellido</mat-label>
            <input [(ngModel)]="usuarios.apellido" matInput placeholder="Ej: perez" required>
            
            
        </mat-form-field>
<!--Email del usuario-->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese Email</mat-label>
            <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: Pepe@gmail.com" required>
            
            
        </mat-form-field>

        <!--Rol del usuario
        <mat-form-field>
            <mat-label>Seleccione rol de usuario</mat-label>
            <select matNativeControl required>
              <option value="admin">Administrador</option>
              <option value="vist">Visitante</option>
              <option value="cliente">Cliente</option>
            </select>
          </mat-form-field>-->

<!--Contraseña-->
            <mat-form-field>
              <mat-label>Ingrese su contraseña</mat-label>
              <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
               
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint align="start">Minimo:8/{{input.value.length}}</mat-hint>
            </mat-form-field>
<button class="boton" mat-raised-button (click)="registrar()">Registrar</button>

    </div>
</div>
