.container{
    display: flex;
    padding: 55px;
    text-align: center;
    justify-content: center;
}

.boton{
    width: 120px;
    margin: auto;
    background-color: #669beb;
}

h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
}