 /* Estilos personalizados */
 .contact-section {
  background-color: #e6f2f8;
    padding: 50px 20px;
  }

  .contact-section h2 {
    color: #0e3a5d;
  }

  .contact-info p {
    color: #555;
  }

  .btn-snowpeak {
    background-color:  #547392;
    color: #fff;
    transition: background-color 0.3s;
  }

  .btn-snowpeak:hover {
    background-color:  #9ccfec;
  }

  .whatsapp-button{
   background-color:  #9ccfec; 
  }
  .whatsapp-button:hover{
    background-color: #547392; 
  }
  .icon-img {
    width: 24px; /* Ajusta el tamaño del icono según sea necesario */
    height: auto;
    margin-right: 8px; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen con el texto */
  }
  
