<div class="container-fluid" id="contenedorgeneral">
  <div id="texto">
      <p>Productos Destacados</p>
  </div>
  <div class="row">
      <div class="card" id="contenedor" *ngFor="let i of info ">
          <div class="imagenes">
              <img id="imagen" src="{{i.imagen}}" class="card-img-top" alt="imagen">
          </div>

          <div class="card-body">
              <div class="nombres">
                  <h5 class="card-title">{{i.nombre}}</h5>
              </div>

              <div class="precios">
                  <p class="card-text">${{i.valor}}</p>
              </div>
              
              <div class="botones">
                  <div id="botonagregar">
                      <button class="boton" mat-stroked-button><mat-icon>shopping_cart</mat-icon>Agregar</button>
                  </div>

                  <div id="botonagregardesplegable">
                      <button class="boton" mat-stroked-button><mat-icon>shopping_cart</mat-icon></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
