.container{
    display: flex;
    padding: 70px;
    text-align: center;
    justify-content: center;
}

.boton{
    width: 160px;
    margin: auto;
}
h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
}