<!-- Sección de Contacto -->
<section class="contact-section">
  <div class="container">
    <h1 class="text-center mb-4 textop">Contacto - SNOWPEAK</h1>
    <p class="text-center mb-5 textofont">¿Tienes alguna consulta sobre nuestros productos de ropa de nieve y
      accesorios? ¡Envíanos un mensaje!</p>

    <div class="row">

      <!-- Formulario de Contacto -->
      <div class="col-md-6">
        <form action="https://formsubmit.co/saraifigueroa012@gmail.com" method="POST">
          <div class="mb-3">
            <label for="name" >Nombre</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="mb-3">
            <label for="email" >Correo electrónico</label>
            <input type="email"  name="email"  id="email"class="form-control">
          </div>
          <div class="mb-3">
            <label for="coments">Mensaje</label>
            <textarea class="form-control"  name="coments" id="coments"  cols="30" rows="5"></textarea>
          </div>
          <!---->
          <input type="submit" class="btn btn-snowpeak w-100" value="Enviar">

          <input type="hidden" name="_next" value="">
        </form>
      </div>

      <!-- Información de Contacto -->
      <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="contact-info mt-4 mt-md-0">
          <p>
            <img src="../../../../../assets/mapa.png" alt="Dirección" class="icon-img">
            Dirección: Paraguay 1050, Cipolletti
          </p>
          <p>
            <img src="../../../../../assets/telefono.png" alt="Teléfono" class="icon-img">
            Teléfono: +123 456 789
          </p>
          <p>
            <img src="../../../../../assets/gmail (2).png" alt="Email" class="icon-img">
            Email: snowpeakgmail.com
          </p>
          <p>
            <img src="../../../../../assets/calendario.png" alt="Horario" class="icon-img">
            Horario: Lunes a Viernes - 9:00 AM a 6:00 PM
          </p>
        </div>
          <a href="https://wa.me/123456789?text=¡Hola!%20Me%20gustaría%20hacer%20una%20consulta." target="_blank">
        <button mat-raised-button class="whatsapp-button">
          Contactar por WhatsApp
        </button>
      </a>
      </div>


    
    </div>
  </div>
</section>